h1 {

    Color : red;

}


  img{
    border: 2px solid black;
  
    background-color: black;

}
a:link {
color:white;
text-decoration: none;
}
a:visited {
color:white;
}
hr{
        height: 4px;
        background-color: black;
        border: none;
    }
    .header{
    
            display: flex;
            justify-content : space-between; 
            
            text-align: center;
            font-size: 20px;
      font-weight: 400;
font-family: sans-serif;
            padding: 15px;
            background-image: linear-gradient(to right, red , blue);
    }
 h1{
    text-align: center;
 }
 .grid{
     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    background-image: linear-gradient(to right,blue,red);
border: solid;
font-family: sans-serif;
}
.item {
    border-radius: 20px;
    border: solid;
    font-family: sans-serif;

margin: 75px;
width: 7810px;

}
.item:hover{
  transform: scale(1.1)
}
body{
    margin: 0px;
    font-family: fantasy;
}

